{{ range .grid }}
    <div class="grid">
        {{ range .Rows }}
            <div class="row">
            {{ range .Cells }}
                <div class="{{ .Class }}"
                        id="{{ .Id }}"
                        hx-get="/highlight?originIndex={{ .OriginIndex }}"
                        hx-trigger="mouseenter"
                        hx-target="#grid-container">
                    {{ .OriginIndex }}
                </div>
            {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}