{{ range .grid }}
    {{ $gridName := .GridName }}
    {{ $tab := .Tab }}
    <div class="sudoku-grid">
        {{ range .Rows }}
            <div class="sudoku-row">
            {{ range .Cells }}
                <div class="{{ .Class }}"
                        id="{{ .Id }}"
                        hx-get="/neighbor?originIndex={{ .OriginIndex }}&gridName={{ $gridName }}&tab={{ $tab }}"
                        hx-trigger="mouseenter"
                        hx-target="#grid-container">
                    {{ .OriginIndex }}
                </div>
            {{ end }}
            </div>
        {{ end }}
        <h2 class="text-2xl font-bold text-center">
            {{ .GridName }}
        </h2>
    </div>
{{ end }}