<div id="sideBar"
        class="sidebar">
        <div class="sidebar-header">
                <button class="close-btn" id="close-btn">
                        <i class="fas fa-times"></i>
                </button>
                <i class="sidebar-icon-l group"
                                id="show-main"
                                hx-get="/main"
                                hx-trigger="click"
                                hx-target="#main-content">
                        SuVi
                        <span class="sidebar-tooltip delay-300 group-hover:scale-100">Home: Sudoku Visualizations</span>
                </i>
                <i class="sidebar-icon group" 
                                id="show-grids"
                                hx-get="/grids"
                                hx-trigger="click"
                                hx-target="#grid-container">
                        Iso
                        <span class="sidebar-tooltip group-hover:scale-100">Random Maps</span>
                        </i>
                <i class="sidebar-icon">
                        Phi </i>
                <i class="sidebar-icon"> WIP </i>
                {{ template "icon.html" . }}
        </div>
        <div class="sidebar-links">
                <h2>Settings</h2>
                <div class="sidebar-settings">
                        <i class="sidebar-setting">
                                D/L </i>
                        <i class="sidebar-setting">
                                cog </i>
                </div>
                <i class="sidebar-link"> GH </i>
        </div>
</div>