<div id="sideBar"
        class="sidebar">
        <div class="sidebar-header">
                <i class="sidebar-icon-l group"
                                id="show-main"
                                hx-get="/main"
                                hx-trigger="click"
                                hx-target="#main-content">
                        SuVi
                        <span class="sidebar-tooltip delay-300 group-hover:scale-100">Home: Sudoku Visualizations</span>
                </i>
                <i class="sidebar-icon group" 
                                id="show-grids"
                                hx-get="/grids"
                                hx-trigger="click"
                                hx-target="#grid-container">
                        <i class="fa-solid fa-table-cells"></i>
                        <span class="sidebar-tooltip group-hover:scale-100">Random Maps</span>
                        </i>
                <i class="sidebar-icon">
                        Phi </i>
                <i class="sidebar-icon"> WIP </i>
        </div>
        <div class="sidebar-links">
                <h2>Settings</h2>
                <div class="sidebar-settings">
                        <i class="sidebar-setting">
                                <i class="fa-regular fa-moon"></i>
                        </i>
                        <i class="sidebar-setting">
                                <i class="fa-solid fa-gears"></i>
                        </i>
                </div>
                <i class="sidebar-link"> 
                        github <i class="fa-brands fa-github"></i>
                </i>
        </div>
</div>