<div id="sideBar"
        class="fixed
                items-center
                top-0 left-0 z-40 w-32
                h-screen transition-transform
                -translate-x-full sm:translate-x-0
                bg-slate-900
                shadow-rose-300
                shadow-md">
        <h2 class="sidebar-icon">
                SuVi </h2>
        {{ template "icon.html" . }}
        {{ template "icon.html" . }}
        {{ template "icon.html" . }}
        {{ template "icon.html" . }}
        <h2 class="sidebar-icon">
                D/L </h2>
</div>