body {
  background: #333;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  /* Align grids on opposite sides */
  align-items: center;
  /* Center grids vertically */
  height: 100vh;
  /* Full height of the viewport */
  padding: 0 1vw;
  /* Add some padding on the sides */
  border: 2px solid green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* Adjust this number based on the square root of total cells */
  aspect-ratio: 1  / 1;
  height: 50%;
  /* Adjust based on container height */
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  width: auto;
  /* Adjust width automatically to maintain aspect ratio */
}

.cell, .cell-highlighted {
  height: 10%;
  border: 2px solid rgba(0,0,0,0);
  /* Initial state for cells */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* Center content */
  align-items: center;
  /* Center content vertically */
  transition: 0.5s;
}

.cell-highlighted {
  border-color: pink;
  /* Highlight border for active cells */
}

.correct {
  background: #07f168;
  /* Background color for correct cells */
  color: #eee;
  /* Text color for correct cells */
}

.incorrect {
  background: #f10707;
  /* Background color for incorrect cells */
  color: #eee;
  /* Text color for incorrect cells */
}

.grid:hover .cell-highlighted {
  /* background: #eee; */
  color: #f107ba;
}
